.title__producto__shop{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
    
        h1{
            font-size: 30px;
            padding: 14px;
            align-self: center;

        }
        .opiniones__textbox__shop{
            width: 100%;
            a{
                font-size: 13px;
                
            }
        }
    
        .img__box__shop{
            width: 100%;
            height: 320px;
          
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                padding: 8px;
            }
        }
    
        .price__description__shop{
            
            padding: 15px;   
            span{
                margin-top: 15px;
                margin-bottom: 15px;
                display: flex;
    
                align-items: center;    
                
                justify-content: center;
                font-size: 18px;
                padding: 6px 20px;
                background-color: #D67A13;
                max-width: 70px;
                border-radius: 3px;
                color: rgb(241, 241, 241);
            }
    
            .textbox__description__price{
        
                display: flex;
                text-align: left;
                font-size: 15px;
            }
    
    
    
    
    
            .opiniones__container__shop{
               
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                 div{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
        
                    i{
                        font-size: 20px;
                    }
            
                    a{
                         font-size: 12px;
                         
                  }
        
                    .starbox__product{
                        margin-right: 20px;
                    }
                }
                   
        
                }
        }
    
        .description__shop{
            margin-top: 20px;
            margin-bottom: 30px;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            background-color: rgba(225, 225, 225, 0.919);
            text-align: start;
            padding: 15px;

            div{
                margin: 5px 0px;
            }
            
            
        }

        .color__size__shop{
            display: flex;
            flex-direction: column;
            padding: 15px;
            width: 100%;
           
           
            
            
    
            .colorselec__box{
                display: flex;
                align-items: center;                
                font-size: 13px;

                span{
                    padding-right: 20px;
                    font-weight: 600;
                }
    
            }
    
            .imgboxselec{
                
                margin-top: 15px;
                display: flex;
                max-width: 290px;
                justify-content: center;

                img{
                    
                    width: 50px;
                    height: 50px;
                    margin: 0px 8px;
                    object-fit: cover;
                }
            }
    
            .talle__spanbox{
                display: flex;
                margin: 8px 0px;
                font-weight: 600;
            }
    
            .talle__shop{
                font-size: 13px;
                margin-top: 15px;
    
                .talle__boxselect{
                    text-align: left;
                   

                    a{
                        text-decoration: none;
                        color: black;
                        
                    }
    
                    .qt{
                    
                        
                        margin-top: 18px;
                        text-decoration: underline;
                        
                    }
                    
                    ul{
                        display: flex;
                        list-style: none;
                        flex-wrap: wrap;
                        width: 100%;
                        
                        li{
                            
                            border: solid 2px #d6d6d6;
                            margin-right: 5px;
                            margin-bottom: 5px;
                            width: 40px;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            
                            &:hover{
                                border: solid 2px #D67A13;
                            }

    
    
                        }
    
                    }
                }
                
                
            }
    
            
            .btn__shop{
                margin-top: 10px;
                display: flex;
                
                width: 100%;
                height: 40px;
            
    
                button{
                   width: 100%;
                   
    
            
                   background-color: #3A5363;
                   color: rgb(255, 255, 255);
                   border: none;
                   font-size: 14px;
                   border-radius: 4px;
                }
           }
            
        }
    
        .envios__Shop{
            font-size: 13px;
            width: 100%;
            font-weight: bolder;
            display: flex;
            flex-direction: column;
            background-color: rgba(225, 225, 225, 0.919);
            text-align: start;
            .box__ship{
                margin: 10px;
                display: flex;
                align-items: center;
                font-weight: 500;
                
                i{
                    font-size: 19px;
                    padding-right: 10px;
                }
    
                a{
                    color: black;
                    font-weight: 600;
                }
    
                span{
                    color: rgb(46, 46, 46);}
                }
    
                    
            }
                
    }
    
.otherproduct{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

        a{
            width: 46%;
            height: auto;
            margin: 6px;
            border: 1px solid lightgray;
            box-shadow: 0 0.2rem 0.4rem 0 rgb(50 50 51 / 40%);
            text-decoration: none;
            color: black;
            

            @media (min-width: 480px){
                max-height: 380px;
                max-width: 210px;
                margin: 10px
            }
            .centerbox{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                padding: 8px;
                
                
                    h3{ 
                        font-size: 13px;
                        margin-bottom: 4px;
                    }
                    
                    .product__name{
                        font-size: 12px;
                        color: rgb(103, 103, 103);
                        margin-bottom: 5px;
                        height: 37.5px;
                        display: flex;
                        
                    }

                    .price{
                        font-size: 12px;
                        width: 50%;
                        text-align: center;
                        border-radius: 3px;
                        padding: 4px 0px;
                        color: rgb(255, 255, 255);
                        background-color: #d99546;
                        margin-bottom: 5px;

    
                    }

                        .btn{

                        margin: 3px 0px;
                        background-color: #3A5363;
                        padding: 5px;
                        border: none;
                        color: white;
                        font-size: 12px;
                        border-radius: 3px;
                        
                        @media (min-width: 1000px){
                            
                            padding: 7px;
                            font-size: 15px;
                            
                        }
                    }
                    
                    
            }
              img{
            width: 100%;
            height: 55%;
            object-fit: cover;
            }
        }

      
    .h2box{
            
            width: 100%;
            font-size: 10px;
            margin: 10px 0px;
    }
}
    
    
    